body{
  background-color: #222222;
}

.header{
  font-size: 15x;
  background-color: #34ADEA;
  padding: 5px;
}

.white{
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 45vh;
  margin: 0 auto;
  margin-top: 25%;
}

.info{
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.counter{
  width: 100px;
  height: 100px;
 float: right;
 font-size: 25px;
 font-weight: bolder;

}

.mother{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-evenly;
}


.button{
  color: white;
  background-color:  #222222;
  border: none;
}

.button:hover{
  color: #34ADEA;
}


.butten{
  color: white;
  background-color: #34ADEA;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 600px;
}

.butten:hover{
  color:#222222;
  background-color: purple;
}


